<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    
        <title>{% block title %}PriCode{% endblock %}</title>
        <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/329/915/png-transparent-computer-icons-educational-technology-learning-training-course-training-blue-angle-people.png" type="image/x-icon">
    </head>
  <body style="background-image: url(https://images.wallpaperscraft.ru/image/seryj_odnotonnyj_fon_138531_300x168.jpg);">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"><h5><kbd>PriCode</kbd></h5></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog' %}">Каталог статей</a>
      </li>
                <li class="nav-item">
        <a class="nav-link" href="{% url 'article_add' %}">Добавить статью</a>
      </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'catalog' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg></button>
            </form>
        </nav>

        {% block content %}
        {% endblock %}
            <footer>
  <p>  &copy; Все права защищены 2021</p>
</footer>
    </body>
</html>