<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    
        <title>{% block title %}PriCode{% endblock %}</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            TODO: Сделать навигацию
        </nav>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <hr />
            <p>&copy; 2021 - PriCode</p>
        </footer>

    </body>
</html>