{% extends "courses/_Layout.html" %}
{% block title %}Добавление статьи{% endblock %}
{% block content %}
<p></p>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <div class="jumbotron">

        <h1 class="display-5">Добавление статьи</h1>
        <form action="{% url 'article_add' %}" method="POST">
          <div class="form-group">
            <label for="exampleFormControlInput1">Статья:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Название статьи"
              name="article_title">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Содержимое статьи"
              name="article_text">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Тестовые вопросы:</label>
            <p class="font-weight-bold"><label for="exampleFormControlInput1">Вопрос 1:</label></p>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Текст вопроса"
              name="question1_text">
          </div>
          <label for="exampleFormControlInput1">(Напротив правильного ответа нажмите кнопку)</label>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q1_choice1_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio1" id="blankRadio1_1"
                    value="1" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q1_choice2_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio1" id="blankRadio1_2"
                    value="2" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q1_choice3_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio1" id="blankRadio1_3"
                    value="3" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q1_choice4_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio1" id="blankRadio1_4"
                    value="4" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <p class="font-weight-bold"><label for="exampleFormControlInput1">Вопрос 2:</label></p>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Текст вопроса"
              name="question2_text">
          </div>
          <label for="exampleFormControlInput1">(Напротив правильного ответа нажмите кнопку)</label>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q2_choice1_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio2" id="blankRadio2_1"
                    value="1" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q2_choice2_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio2" id="blankRadio2_2"
                    value="2" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q2_choice3_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio2" id="blankRadio2_3"
                    value="3" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q2_choice4_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio2" id="blankRadio2_4"
                    value="4" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <p class="font-weight-bold"><label for="exampleFormControlInput1">Вопрос 3:</label></p>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Текст вопроса"
              name="question3_text">
          </div>
          <label for="exampleFormControlInput1">(Напротив правильного ответа нажмите кнопку)</label>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q3_choice1_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio3" id="blankRadio3_1"
                    value="1" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q3_choice2_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio3" id="blankRadio3_2"
                    value="2" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q3_choice3_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio3" id="blankRadio3_3"
                    value="3" aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вариант ответа"
                  name="q3_choice4_text">
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input position-static mt-3" type="radio" name="blankRadio3" id="blankRadio3_4"
                    value="4" aria-label="...">
                </div>
              </div>
            </div>
          </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">Добавить</button>
        </form>
      </div>
    </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}