{% extends "courses/_Layout.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">

    <p class="font-italic">Наша образовательная платформа позволит Вам и Вашим близким с лёгкостью осваивать
      материалы по английскому языку и программированию. Для успешного прохождения и освоения материала на
      сайте представлены следующие возможности: закрепление материала с помощью тестов после каждой главы,
      возможность соревноваться с другими участниками курсов и т.д.
      Также мы всегда готовы ответить на Ваши вопросы и помочь Вам в чате с нашими специалистами. Удачи и успехов в
      обучении!</p>
  </div>

  <h4>Популярные статьи:</h4>
  <div class="row">
    {% for item in articles %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.article_title }}</h5>
          <p class="card-text">{{ item.article_text }}</p>
          <a href="#" class="btn btn-dark">Ссылка на статью</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
{% endblock %}