{% extends "courses/_Layout.html" %}
{% block title %}Просмотр статьи{% endblock %}
{% block content %}

<div class = "jumbotron">

<h1>{{ article.article_title }}</h1>
    <br>{{ article.article_text }}</br>
    <h1>Проверьте себя!</h1>
    <from>
        <div>
            {% for qst in article.questions %}
                <h4> {{ qst.question_text }}</h4>
                {% for choice in qst.choices %}
                    <input type="radio" name={{qst.question_id}} value={{choice.choice_id}}>
                        {{ choice.choice_text }}
                    </input>
                    <br>
                {% endfor %}
                <hr>
            {% endfor %}
        </div>
        <div>
            <button type="submit">Отправить</button>
        </div>
    </from>
</div>

{% endblock %}