{% extends "courses/_Layout.html" %}
{% block title %}Просмотр статьи{% endblock %}
{% block content %}

<div class = "jumbotron">

<h1>{{ article.article_title }}</h1>
    <br>{{ article.article_text }}</br>
    <h1>Проверьте себя!</h1>
    <from>
        {% for qst in article.questions_text %}
            <h4> {{ qst }}</h4>
            {% for choice in article.choices %}
                <input type="radio" name={{ question }}>
                    {{ choice }}
                </input>
            {% endfor %}
            <hr>
        {% endfor %}
    </from>
</div>

{% endblock %}